* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    margin: 0 auto;
    font: 12px 'Noto Sans SC', "Open Sans";
    background-color: #FFFFFF;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

html,
body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

img {
    border: 0;
    -webkit-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    -moz-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    -ms-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    -o-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    transform: scale(1)rotate(0)translate3d(0, 0, 0);
}

div,
p,
img,
ul,
ol,
li,
form,
input,
label,
span,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style-type: none;
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -webkit-transition: all .25s ease 0s;
    -moz-transition: all .25s ease 0s;
    -ms-transition: all .25s ease 0s;
    -o-transition: all .25s ease 0s;
    transition: all .25s ease 0s;
    color: #333;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: #FFFFFF;
}


.w100 {
    width: 100%;
}

.hide {
    display: none;
}
