.year-picker-container.hide,
.year-picker-container .hide {
  display: none;
}

.year-picker-container .clickable {
  cursor: pointer;
}

.year-picker-container .no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.year-picker-container .flex {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.year-picker-container .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.year-picker-container .flex-col {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.year-picker-container .flex-wrap {
  -webkit-box-lines: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.year-picker-container .justify-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-around;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.year-picker-container .align-start {
  -webkit-box-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.year-picker-container .align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.year-picker-container .flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.year-picker-container ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: #ffffff;
}

.year-picker-container {
  position: absolute;
  top: 0px;
  left: 0;
  width: 300px;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.year-picker-container .year-picker-box {
  position: relative;
  padding: 16px;
  height: 100%;
  overflow: hidden;
}

.year-picker-container .year-picker-star-box,
.year-picker-container .year-picker-end-box {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.year-picker-container .year-picker-line {
  position: relative;
  height: 242px;
  width: 0.5px;
  background-color: #eaf0f3;
  margin: 0 16px;
}

.year-picker-container .year-picker-tips {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #667190;
}

.year-picker-container .year-picker-selected {
  width: 118px;
  height: 36px;
  background: #f1f6f8;
  border-radius: 2px;
  text-align: left;
  padding: 8px 12px;
  margin-top: 4px;
}

.year-picker-container .year-picker-selected span {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #21293c;
  cursor: default;
}

.year-picker-container .year-picker-list {
  height: 172px;
  padding: 8px;
  padding-bottom: 0px;
  margin-top: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 transparent;
}

.year-picker-container .year-picker-list::-webkit-scrollbar {
  width: 4px;
  background: #d9d9d9;
}

.year-picker-container .year-picker-list::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.year-picker-container .year-picker-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.year-picker-container .year-picker-list .year-picker-item {
  box-sizing: border-box;
  width: 101px;
  height: 36px;
  text-align: left;
  padding: 0 12px;
  background: #ffffff;
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #667190;
  cursor: pointer;
  user-select: none;
}

.year-picker-container .year-picker-list .year-picker-item-selected {
  color: #667190;
  background-color: #eaf0f3;
}

.year-picker-container .year-picker-list .year-picker-item-boundary {
  color: #667190;
  font-weight: bold;
  background-color: #dce3e7;
}

.year-picker-container .year-picker-list .year-picker-item-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
