/* reset */
.year-picker-container div {
  margin: 0;
  padding: 0;
}

/* utils */
.year-picker-container.hide {
  display: none;
}

.year-picker-container {
  position: absolute;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.year-picker-container thead {
  background: #eaf0f3;
}

.year-picker-container th {
  font-size: 14px;
  line-height: 1.5;
  color: #21293c;
  font-weight: bold;
}

.year-picker-container .year-picker-item {
  width: 80px;
  height: 34px;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #21293c;
  padding-left: 24px;
  cursor: pointer;
  user-select: none;
}

.year-picker-container .year-picker-item:hover {
  background: #eaf0f3;
  font-style: italic;
}

.year-picker-container .year-picker-item.year-picker-item-selected {
  background: #eaf0f3;
  font-weight: bold;
}

.year-picker-container .year-picker-item.year-picker-item-selected:hover {
  background: #eaf0f3;
  font-weight: bold;
  font-style: normal;
}

.year-picker-container .year-picker-item.year-picker-item-disabled {
  color: #cccccc;
  cursor: not-allowed;
}


.year-picker-container .year-picker-item.year-picker-item-disabled:hover {
  background: #fff;
  font-weight: normal;
  font-style: normal;
}
